<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <div>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username" value=""/>
      </div>
      <br/>
      <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" value=""/>
      </div>
      <br/>
      <disv>
        <input type="button" value="Login" onclick="login()"/>
      </div>
    </form>

    <script src="js/client.js"></script>
  </body>
</html>
