<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/auth/login" method="post">
      <div>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username" value=""/>
      </div>
      <br/>
      <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" value=""/>
      </div>
      <br/>
      <div>
        <input type="submit" value="Login"/>
      </div>
    </form>
  </body>
</html>
