<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to an authenticated page.</h1>
    <form action="/auth/logout" method="POST">
      <div>
        <input type="submit" value="Logout"/>
      </div>
    </form>
  </body>
</html>
